
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee8aa;
    overflow-x: hidden;
    background-image: url(Img/fundo-tela.jpg);
    background-attachment:fixed;

}

header{
    width: 100%;
    padding: 40px;
}


.barra{
    background-color: rosybrown;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    text-align: center;
    color: rgb(0, 0, 0);
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 8px;
    
} 


p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10pt;
    margin-top: 28px;
    font-weight: bold;

}


main{
    margin-top:3em;
}

.title-container{
    color:#0F2A04;
    font-family: 'helvética';
    font-weight: bold;
    font-size: 18pt;
    font-style: normal;
    padding-bottom: 10px;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.item-container {
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    


    box-shadow: -3px 3px 7px #3d3d3d65;  
    width: 40%;
    height: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 70px 50px;
    border-radius: 20px;
}

option{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.text-box{
    width: 80%;
    height: 95px;
    border-radius:5px;
    padding-left: 2px;
    text-align: center;
    font-size: 12pt;
}

.offset{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    
}

.btn{ 
    
    background-color:rosybrown;

    border-radius: 300px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.308);
    cursor: pointer;
    font-size: 16pt;
    border:none;
    outline: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.btn:hover{
    background-color: rgb(141, 74, 74);
    transform: scale(0.9);
}

.text-area:disabled{
    color:#000;
    resize: none;
    width: 90%;
    height: 4em;
    border-radius: 5px;
    font-size: 20pt;
    background-color: rgb(239, 243, 247);
    box-shadow: -3px 3px 7px #3d3d3d65;  
}

footer{   
    padding: 32px 15px 0px 0px;
    clear: both;
    width: 100%;
    color: #000;
}

a{
    color:#7EA374;
    text-decoration: none;
    font-size: 11pt;
    font-style:normal ;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
  }
  
  ::-webkit-scrollbar {
    width: 14px;
    background: rgb(141, 74, 74);
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(141, 74, 74);
    border-radius: 30px;
  }